body {
  background-color: #494551;
}


.btn-group {
  text-align: center;
  width: 100%;
}

.App {
  background-color: #494551;
  color: #dbe3ff;
}

h1 {
  color: #f46161;
  text-align: center;
  font-family: 'Audiowide', cursive;
  letter-spacing: -5px;
  font-size: 100px;
  text-decoration-line: underline;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;


}

.hero-title {
  color: #d3d3d3;
  text-align: center;
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  bottom: 20px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

a {
color: #f46161;
}

a:visited {

}

a:active {

}

a:hover{
  color: #d3d3d3;

}